/* stepanBolotnikov & tajoOja | fraktal */

@import url('fonts.css');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #141414;
  color: white;
  font: 400 15px/28px 'Roboto', sans-serif;
  letter-spacing: -0.005em;
}

a {
  color: #ff0000;
  text-decoration: none;
}
  a:hover {
    color: white;
  }

.wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100%;
}

video {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%; 
  min-height: 100%; 
  height: auto; 
  width: auto;
  z-index: 2;
}
header {
  background: #DC2810;
  width: 60px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}
  .logo {
    font-size: 0;
    display: block;
    height: 38px;
    overflow: hidden;
    padding: 11px 10px;
    background: #dc2810;
  }
    .logo:before {
      content: '';
      display: block;
      border: 8px solid white;
      height: 23px;
      width: 23px;
      border-radius: 100%;
      transition: background 200ms ease-in-out;
    }
  @media screen and (min-width: 600px) {
    .logo:hover:before {
      background: white;
    }
  }
  .main-nav ol {
    list-style-type: none;
    margin: 40px 0 100px;
    padding: 0;
  }
    .nav-1 {
      background: #8C190A;
    }
    .nav-2 {
      background: #991b0b;
    }
    .nav-3 {
      background: #A61E0C;
    }
    .nav-4 {
      background: #B3200C;
    }
    .nav-5 {
      background: #BF220D;
    }
    .nav-6 {
      background: #CC240E;
    }
    .main-nav a {
      color: white;
      display: inline-block;
      font-weight: 500;
      height: 60px;
      line-height: 60px;
      width: 100%;
      text-align: center;
      position: relative;
      transition: background 100ms linear, color 100ms linear;
    }
    .main-nav .active a,
    .main-nav a:hover {
      background: white;
      color: #DC2810;
    }
    .main-nav .active a:after {
      content: '';
      border-style: solid;
      border-color: transparent;
      border-left-color: white;
      border-width: 6px 0 6px 6px;
      position: absolute;
      right: -6px;
      top: 50%;
      margin-top: -6px;
    }
  .facebook {
    font-size: 0;
    display: inline-block;
    height: 23px;
    width: 23px;
    background: transparent url('../assets/facebook.svg?1') no-repeat -3px -4px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    border: 8px solid white;
    border-radius: 100%;
  }

.wrapper > nav,
.subnav {
  display: none;
  background: #141414;
  vertical-align: top;
  width: 147px;
  padding-left: 60px;
}
.wrapper > nav.active,
.subnav.active {
  display: table-cell;
}
  .subnav ol {
    list-style-type: none;
    width: 147px;
    margin: 10px 0 0;
    padding: 0;
  }
  .subnav a {
    color: white;
    display: block;
    padding: 14px 21px;
    line-height: 20px;
    transition: color 100ms linear;
  }
  .subnav .active a {
    color: #FF0700;
  }
  @media screen and (min-width:600px) {
    .subnav .active a:hover {
      color: #FF0700;
    }
  }

.wrapper > section {
  /*display: table-cell;*/ /* not perfect, but fixes the funky background in firefox*/
  position: relative; /* NOTE: prel probably doesn't work on display: table-cell */
  vertical-align: top;
  padding: 35px 48px;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.frontpage .wrapper > section {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
  .shadow {
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    left: 0;
    top: 0;
    max-width: 807px;
    width: 100%;
    height: 100%;
  }
  .content {
    width: 434px;
    position: relative;
    z-index: 2;
  }
    .content img {
      width: 52px;
    }
  .frontpage .content {
    width: 450px;
    display: inline-block;
    text-align: left;
  }
  h1 {
    font-family: 'Graphik';
    font-size: 100px;
    letter-spacing: -0.03em;
    width: 460px;
    line-height: 0.845;
    margin: 0 0 30px;
    white-space: nowrap;
  }
    h1 i {
      font-style: normal;
      font-weight: 300;
    }
  .frontpage h1 {
    color: #DC2810;
    font-weight: 300;
    white-space: normal;
  }
    .frontpage h1 i {
      color: white;
      font-weight: 700;
    }
  .main-content ol {
    counter-reset: tracklist;
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
  }
    .main-content ol li {
      counter-increment: tracklist;
      position: relative;
      padding: 6px 0 6px 30px;
    }
    .main-content ol li:before {
      content: counter(tracklist) '.';
      color: #F00;
      font-family: 'Graphik';
      display: inline-block;
      width: 20px;
      text-align: right;
      position: absolute;
      left: 0;
    }
  .artist-links {
    color: #780000;
    margin-top: 20px;
  }
    .artist-links a {
      margin: 0 3px;
    }
    .artist-links a:first-child {
      margin-left: 0;
    }
  .download-track {
    display: block;
    color: white;
    background: #DC2810 url('../assets/download.svg?1') no-repeat 20px center;
    font-family: 'Graphik';
    font-size: 18px;
    margin: 30px 0;
    padding: 11px 20px 15px 57px;
    line-height: 1;
    transition: background 100ms linear;
  }
    .download-track:hover {
      background-color: #F00;
    }
  .bsides .main-content ul {
    margin: 20px 0 0;
    padding: 0;
  }
    .bsides .main-content ul li {
      list-style-type: none;
      margin-bottom: 10px;
    }
      .bsides .main-content ul li:last-child {
        margin-bottom: 0;
      }
    .bsides .main-content ul a {
      display: block;
      color: white;
      padding: 19px 20px 20px;
      font-size: 18px;
      font-family: 'Graphik';
      line-height: 1;
      background: #212121;
      transition: background 100ms linear;
    }
      .bsides .main-content ul a:hover {
        background: #DC2810;
      }

#sm2-container {
  display: none;
}
.standalone header {padding-top: 20px;}
.standalone:before {content: '';position: fixed;top: 0;left: 0;height: 20px;width: 100%;background: black;z-index: 100000;}

.placeholder {color: inherit !important; opacity: 0.5;}